* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-size: $reference-typescale-baseSize;
}

body {
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 1600px) {
  html {
    font-size: calc($reference-typescale-baseSize + 2px);
  }
}

@media (min-width: 2000px) {
  html {
    font-size: calc($reference-typescale-baseSize + 4px);
  }
}

div {
  overflow: hidden;
  font-family: $reference-typescale-font, sans-serif;
}

p {
  font-family: inherit;
  font-size: 1rem;
  color: $system-color-text;
}

a {
  color: $system-color-text;
  text-decoration: none;
  font-family: inherit;
}

a:hover {
  color: $system-color-text;
}

img,
video {
  border: 0;
  max-width: 100%;
  height: auto;
}

code {
  font-family: mononoki, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Roboto Mono", "Courier New", ui-monospace, monospace !important;
  font-weight: 400;
  line-height: 1.25rem;
  background-color: $reference-color-gray-90;
  border-radius: .4rem;
  padding: .25rem;
}

li code,
p code {
  font-size: 1rem;
  color: $reference-color-gray-20;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $system-color-text;
  letter-spacing: -.025rem;
  text-rendering: optimizelegibility;
  font-family: $system-typescale-headline-font;
}

@supports (font-stretch: 100%) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-stretch: 40% !important;
  }
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 700;
}

h4,
h5 {
  font-weight: 600;
}

ul {
  list-style: none;
}

main {
  margin: 0 auto;
}

hr {
  height: 0;
  margin: 1rem 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: .25rem solid $reference-color-gray-95;
}

article {
  max-width: 48rem;
  margin: 0 auto;
  padding: 1rem;

  ul {
    margin: 0.5rem 1.5rem;
    padding: 0.5rem 0;
    list-style: disc;

    li {
      color: $system-color-text;
      font-size: 1rem;
      padding-top: .25rem;

      p {
        padding-left: 0 !important;
        margin-left: 0 !important;
        margin: 0;
        padding: .4rem .7rem !important;
        font-weight: normal;
      }

      &::marker {
        color: $reference-color-gray-60 !important;
      }

      h4 {
        margin: 0.3125rem 0 !important;
        text-align: left !important;
      }

    }
  }


  h1,
  h2,
  h3,
  h4 {
    padding: 0 .5rem;
    padding-right: 1rem;
    margin: .75rem 0;
    text-align: center;
  }

  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.35rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.15rem;
  }

  p {
    padding: 1rem .5rem;
    padding-left: .75rem;
    font-size: 1.15rem;
    line-height: 125%;
    text-align: left;

    a {
      color: $system-color-secondary-40;
      font-weight: 600;

      &:hover {
        color: $system-color-secondary-20;
        text-decoration: underline;
      }
    }
  }

  &.--wide {
    width: 100%;
    max-width: none;

    .picture,
    >p {
      width: 60%;
      margin: .5rem auto;
    }
  }
}

span.--highlight {
  background: top center / auto 1.5rem padding-box space no-repeat, $system-color-primary-50 content-box;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: $system-color-text;
  display: inline;
  line-height: 125%;
}

@media (min-width: $system-viewpoint-desktop-S) {
  article>p {
    padding: .5rem;
    padding-left: 1.5rem;
  }
}
