html {
  font-family: $system-typescale-body-font, sans-serif;
  font-weight: normal;
  color: $system-color-text;
  font-size: 1rem;
  text-transform: lowercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.25;

  a {
    font-weight: inherit;
  }
}

p {
  margin-bottom: 1rem;
}

// Text Styles

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.--uppercase {
  text-transform: uppercase;
}

.--lowercase {
  text-transform: lowercase;
}