//* FONT IMPORTS

//? Set up Rubik variable version for newer browsers.
@supports (font-variation-settings: normal) {

  //? Latin
  @font-face {
    font-family: 'Rubik';
    font-display: swap;
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    src:
      url('https://fonts.gstatic.com/s/rubik/v19/iJWKBXyIfDnIV7nBrXw.woff2') format('woff2 supports variations'),
      url('https://fonts.gstatic.com/s/rubik/v19/iJWKBXyIfDnIV7nBrXw.woff2') format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  //? Latin Extended
  @font-face {
    font-family: 'Rubik';
    font-display: swap;
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    src:
      url('https://fonts.gstatic.com/s/rubik/v19/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFWUU1Z4Y.woff2') format('woff2 supports variations'),
      url('https://fonts.gstatic.com/s/rubik/v19/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFWUU1Z4Y.woff2') format('woff2-variations'),
      '/assets/fonts/Rubik/Rubik--latin-extended.woff2'format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
}

//? Set up Rubik for old browsers, only regular + semi-bold.
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local("Rubik Normal"),
      '../../fonts/Rubik/static/Rubik-Regular.woff2'format('woff2'),
      '../../fonts/Rubik/static/Rubik-Regular.ttf'format('opentype');
  }

  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
      local("Rubik Semi-Bold"),
      url('../../fonts/Rubik/static/Rubik-SemiBold.woff2') format('woff2'),
      url('../../fonts/Rubik/static/Rubik-SemiBold.ttf') format('opentype');
  }
}
