.badge {
  display: inline-block !important;
  padding: .6rem !important;
  border-radius: .8rem;
  font-size: 1.8rem !important;
  line-height: 1.8rem !important;

  height: 3.2rem !important;
  width: 3.2rem !important;

  background-color: var(--dorkodu-l4);
}

.badge > svg {
  width: 2rem !important;
  height: 2rem !important;
  stroke: var(--dorkodu-d3);
}