/*----------  Quote  ----------*/

/* Standard */

.quote {
  display: block;
  border-left: .4rem solid var(--smokegray-l5);
  margin: 2rem auto;
  max-width: 32rem;
  background-color: unset;
  padding: 0;
}

.quote>h1,
.quote>h2,
.quote>h3,
.quote>h4,
.quote>h5 {
  text-align: left !important;
  margin: .5rem !important;
  color: var(--smokegray-d5) !important;
}

.quote>p {
  display: block;
  padding: .5rem 1rem !important;
  font-size: 1rem;
  line-height: 1.5rem !important;
  font-weight: 600;
  background: none;
  color: var(--smokegray-d2);
}

.quote>p a {
  color: var(--smokegray-d4);
  text-decoration: underline;
}

.quote>p a:hover {
  color: var(--smokegray-d6);
  text-decoration: underline;
}

.quote .owner {
  font-weight: 800;
  color: var(--smokegray-d5);
}

/*----------  Blockquote  ----------*/

blockquote {
  padding: .2rem .4rem;
}

blockquote>p {
  background: top center / auto 1.5rem padding-box space no-repeat, var(--dorkodu-l5) content-box;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: var(--text-color);
  display: inline;
  font-size: 1.1rem !important;
  line-height: 1.4rem;
}