---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Doruk Eray">
	<main>
    <h1>Hello, This is Doruk.</h1>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
