.section-icon {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  stroke: var(--smokegray-l1);
}




/*----------  Feature Showcase  ----------*/

.feature-showcase .column.--aside .image-set {
  margin: 0 auto !important;
}

.feature-showcase .column.--main .descriptive-list {
  max-width: 36rem;
  margin: 0 auto;
}

@media (max-width: 200px) {}

@media (min-width: 1000px) {
  .feature-showcase .column.--main .descriptive-list {
    float: right;
    margin-left: 2rem;
  }

  .feature-showcase .column.--aside .image-set {
    margin: 4rem auto 0 !important;
    float: left;
  }

  .feature-showcase>.column.--main {
    width: 60%;
    float: left;
  }

  .feature-showcase>.column.--aside {
    width: 40%;
    float: left;
  }
}