:root {
  --font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto Regular"),
    url('/assets/fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: 
    local("Roboto Bold"),
    url('/assets/fonts/Roboto-Bold.ttf') format('opentype');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local("Roboto Black"),
    url('/assets/fonts/Roboto-Black.ttf') format('opentype');
}