html {
  font-size: 16px;
}

@media (min-width: 500px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 21px;
  }
}

@media (min-width: 2200px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 2400px) {
  html {
    font-size: 23px;
  }
}

@media (min-width: 2600px) {
  html {
    font-size: 24px;
  }
}